.heading {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 50px;
  background-color: purple;
  color: white;
  display: flex;
  justify-content: flex-start;
  h3 {
    margin: 0;
    padding: 0;
  }
}
