.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #754f44;
  
}
button {
  background-color: purple;
  color: white;
  border-radius: 10px;
  border-color: rebeccapurple;
}